/model/component/emotion_path/model/model.onnx
/model/component/emotion_path/modal/model.yaml
/cache/model.zip
/model/pretrained_model
/dataset/EATD-Corpus
/model/component/emotion_path/cache
/model/component/emotion_path/model
/dataset/raw_ndarray
/checkpoint
/visualize/train
/visualize/test
